.attribution{
    visibility: hidden;
}

main{
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
}

h1{
    font-family: 'Fraunces';
    font-size: 32px;
    color: hsl(212, 21%, 14%);
    line-height: 90%;
}

h2{
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 8px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.price{
    display: flex;
    align-items: center;
    font-family: 'Fraunces';
    font-size: 28px;
    color: hsl(158, 36%, 37%);
    &.price--old{
        font-family: 'Montserrat';
        margin-left: 15px;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        font-size: 12px;
        text-decoration: line-through;
    }
}

.marge{
    display: flex;
    flex-direction: column;
    margin: 10%;
    * {
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0;
    }
}

.card{
    overflow: hidden;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 600px;
    height: 420px;
    * {
        flex: 1;
    }
}

.text{
    display: flex;
    align-items: center;
}

.bouton{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;

    border-radius: 10px;
    height: 50px;
}

body{
    margin:0%;
}